body{
    font-family: sans-serif;
}

/* product gallery page */
.indivProduct{
    align-items: flex-start;
    width: 150px;

}

.indivProduct:hover{
    background-color: yellow;
    width: 150px;
}

/* product detail page */
#productdetail{
    align-items: flex-start;
    width: 350px;
}  

#productdiscription{
    padding-left: 70px;
    align-items: flex-start;
    width: 200px;
}  

.dropdown{
    width: 200px;
    border: 2px solid black;
}

/* shopping cart page */
#cartproduct{
    text-align: center;
    width: 350px;
}  

.image{
    border: 1px solid black;
}

/* general */

#button{
    text-align: right; 
}  


#table{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
}



#title{
    font-size: 24px;
    text-align: center;
    font-weight: lighter;
}

.link{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

.smallTitle{
    font-size: 18px;
}



p{
    font-size: 14px;   
}


a{
    text-decoration: none;
    color: black;
}

span:hover{
   background-color: yellow;
 
}

small{
    font-size: 12px;
}


button{
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid black

}

button:hover{
    background-color: yellow;
}

form{
    display: inline;
}
